<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.BoardMapper">
	<cache />

 
	<resultMap type="Qna" id="qnaMap">
		<id column="qna_num" jdbcType="VARCHAR" property="qnaNum" />
		<id column="member_num" jdbcType="VARCHAR"  property="memberNum" />
		<id column="staff_number" jdbcType="VARCHAR"  property="staffNumber" />
		<result column="qna_date" jdbcType="TIMESTAMP" property="qnaDate" />
		<result column="qna_subject" jdbcType="VARCHAR" 
			property="qnaSubject" />
		<result column="qna_content" jdbcType="VARCHAR" 
			property="qnaContent" />
		<result column="qna_file" jdbcType="VARCHAR"  property="qnaFile" />
		<result column="qna_pw" jdbcType="VARCHAR"  property="qnaPw" />
		<result column="qna_Count " jdbcType="BIGINT"  property="qnaCount" />
	</resultMap>

<select id="selectQnaByConditionOne" parameterType="Qna" resultMap="qnaMap">
		SELECT
		QNA_NUM
		MEMBER_NUM, 
		STAFF_NUMBER,
		QNA_DATE,
		QNA_SUBJECT,
		QNA_CONTENT,
		QNA_FILE,
		QNA_PW,
		QNA_COUNT
		FROM QNA
		<where>
			<if test="qnaSubject != null">
				qna_subject = #{qnaSubject}
			</if>
		</where>
	</select>
	
<select id="selectQnaByConditionList" parameterType="Qna" resultMap="qnaMap">
		SELECT
		QNA_NUM
		MEMBER_NUM, 
		STAFF_NUMBER,
		QNA_DATE,
		QNA_SUBJECT,
		QNA_CONTENT,
		QNA_FILE,
		QNA_PW,
		QNA_COUNT
		FROM QNA
</select>
	
 	<insert id="insertQna" parameterType="Qna">
		insert into
		QNA(QNA_NUM, MEMBER_NUM, STAFF_NUMBER, QNA_DATE, QNA_SUBJECT, QNA_CONTENT, QNA_FILE, QNA_PW, QNA_COUNT)
		values((select count(qna_num)+1 from QNA), #{memberNum}, #{staffNumber}, #{qnaDate}, #{qnaSubject}, #{qnaContent}, #{qnaFile}, #{qnaPw},#{qnaCount})
	</insert>
 

</mapper>
