<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.LoginMapper">
	<cache />
	
<resultMap type="LoginSession" id="loginSessionMap">
	<result jdbcType="VARCHAR" property="commandId" column="MEMBER_ID"/>
	<result jdbcType="VARCHAR" property="commandPw" column="MEMBER_PW"/>
	<result jdbcType="VARCHAR" property="commandName" column="MEMBER_NAME"/>
	<result jdbcType="VARCHAR" property="commandDvice" column="MEMBER_DVICE"/>
</resultMap>	

<select id="comparisonLogin" parameterType="LoginSession" resultMap="loginSessionMap">
select member_id, member_pw, member_name, member_dvice from member
WHERE member_id = #{commandId} and member_pw = #{commandPw}
union
select staff_id, staff_pw, staff_name, staff_dvice from staff
WHERE staff_id = #{commandId} and staff_pw = #{commandPw}
</select>
<update id="keepLogin" parameterType="Map">
	update member set m_sessionkey = #{sessionId}, sessionLimit = #{next} WHERE member_id = #{commandId}
</update>
<select id="checkUserWithSessionKey" parameterType="String" resultMap="loginSessionMap">
	select * from member where m_sessionkey = #{sessionId} and m_sessionLimit > now()
</select>
</mapper>